@import "tailwindcss";
@import "@heroui/styles"; 
@plugin "daisyui";

.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}


.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #0a66c2;
  color: #fff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #24292e; 
  color: #fff;
}

/* details page */

.luxury-circle-btn {
    width: 2.25rem; /* 36px */
    height: 2.25rem; /* 36px */
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #94a3b8;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.luxury-circle-btn:hover {
    background-color: rgba(244, 63, 94, 0.4);
    color: #fb7185;
}


/* custom border */
.luxury-border-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem; /* 16px */
  pointer-events: none;
  z-index: 0;
}
/* photo div css */
.luxury-photo-frame {
  position: relative;
  width: 100%;
  z-index: 10;
  background-color: #171717;
  border-radius: 0.75rem; /* 12px */
  overflow: hidden;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  aspect-ratio: 4 / 3;
}
/* responsive */
@media (min-width: 768px) {
  .luxury-photo-frame {
    aspect-ratio: 1 / 1;
  }
}


/* edit & delete */
#edit-btn, #delete-btn {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff40;
  cursor: pointer;
  transition: 0.5s ease;
  user-select: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

#edit-btn:hover, #edit-btn:focus {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff;
  box-shadow: 0 0 10px #008cff, 0 0 30px #008cff;
}

#delete-btn:hover, #delete-btn:focus {
  color: #ffffff;
  background: #f43f5e;
  border: 1px solid #f43f5e;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff;
  box-shadow: 0 0 10px #f43f5e, 0 0 30px #f43f5e;
}